.main-content {
    min-height: 100vh;
    background-color: rgb(217, 231, 245);

    .tab-list {
        width: 100%;

        .tab-link {
            color: black;
            text-decoration: none;

            .tab {
                border: solid 1px rgb(165, 181, 211);
                border-radius: 0px 0px 5px 5px;
                min-height: 40px;
                padding-top: 5px;
                transition: all .2s ease;

                .title {
                    margin-bottom: 0;
                    text-align: center;
                }
            }

            &:hover {
                .tab {
                    border: solid 1px rgb(148, 148, 148);
                    -webkit-box-shadow: 2px 2px 3px 0px rgba(148, 148, 148, 0.5);
                    -moz-box-shadow: 2px 2px 3px 0px rgba(148, 148, 148, 0.5);
                    box-shadow: 2px 2px 3px 0px rgba(148, 148, 148, 0.5);
                }
            }
        }

        .newlist {
            a {
                color: black;
                font-weight: bold;
                float: right;
                line-height: 40px;
            }
        }
    }

    .list {
        width: 30rem;
        margin: 0 auto;
        margin-top: 10rem;

        .card {
            min-height: 30rem;
            .card-body {
                .card-title {                                            
                    img {
                        margin-left: 5px;
                        width: 20px;
                        height: 20px;
                    }                
                }

                form {     
                    img {
                        position: absolute;
                        right: 20px;
                        width: 20px;
                        height: 20px;
                    }                    

                    h6 {
                        margin-bottom: 0;
                        margin-top: 10px;
                    }

                    ol {
                        img {
                            margin-top: 5px;
                        }
                    }
                }
                img {
                    width: 25px;
                    height: 25px;
                    margin-left: 200px;
                }
            }

            .card-end {
                height: auto;
                padding: 30px;

                button {
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                }
            }
        }        
    }

    .lesspadding {
        padding-left: 5px;
        padding-right: 5px;
    }
}
